/* You can add global styles to this file, and also import other style files */

.navbar {
    margin-bottom: 30px;
}

.navbar-brand {
    margin: 0 auto;
    font-weight: bold;
}

.list-group-item {
    cursor: pointer;
    font-size: 14px;
}

footer {
    position: inherit;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
